@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center">
    <h1 class="display-4">The resource you requested cloud not be found!</h1>
    
    <a asp-action="Index" asp-controller="Home">Click here to navigate to the start page</a>
</div>
